# SQL Server
MSSQL_SA_PASSWORD=YourStrong@Password123

# House API
NEWS_API_KEY=your_news_api_key_here
OPENWEATHER_API_KEY=your_openweather_api_key_here
SONARR_API_KEY=nope
RADARR_API_KEY=nope
LOOKUP_UPRN=100041084394
HOUSE_SQL_CONNECTION_STRING=Server=sqlserver,1433;Database=House;User Id=sa;Password=YourStrong@Password123;TrustServerCertificate=True;

# House Dashboard
DASHBOARD_API_URL=http://192.168.1.100:82
DASHBOARD_SECURITY_CAM_URL=http://192.168.1.123:8081/
DASHBOARD_BLUEMAP_URL=http://192.168.1.69:8100/#world:-15:83:-57:0:2.36:1.52:0:0:free
DASHBOARD_BIN_NOTICE_PERIOD=1.5
